<nav>
  <div class="nav_logo">
    <%= image_tag("futbol-solid.svg", alt: "Logo foot", class: "futbol-logo") %>
  </div>
  <div class="nav_avatar">
    <ul class="nav_menu">
      <li class="nav_title"> <%= image_tag("om.png", alt: "Logo OM", class: "om-logo") %>
        <ul class="sous_menu">
          <li class="sous_title">Home</li>
          <li class="sous_title">Results</li>
          <li class="sous_title">Team</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="card">
    <%= image_tag("waddle.jpg", alt: "Meilleur joueur du munde", title: "Chris Waddle", class: "avatar") %>
    <h1>Chris Waddle</h1>
    <p>Attacking midfielder</p>
    <p>140 matches - 27 goals</p>
    <button class='btn-blue'>Quotes</button>
</div>
